<div class='row pt-2 pb-1' ng-if='vm.req.tipoListagem === vm.TIPO_LISTAGEM.OFMANAGER && vm.listaSaida.length'>

    <div class='col'>

        <table class='table table-striped table-bordered'>

            <thead>
                <tr>
                    <th style='width:20%'>Tarefa</th>
                    <th style='width:15%'>Tipo de Alteração</th>
                    <th style='width:55%'>Nome dos Artefatos</th>
                    <th style='width:10%'></th>
                </tr>
            </thead>

            <tbody ng-repeat='saida in vm.listaSaida'>

                <tr ng-repeat="(tipoAlteracao, listaArtefatoAgrupado) in saida.listaArtefatoSaida | 
                    groupBy: 'tipoAlteracao'">

                    <td ng-if="$first" rowspan="{{saida.listaArtefatoSaida.length}}">{{saida.listaNumeroTarefaSaida[0]}}
                    </td>
                    
                    <td>{{vm.TIPO_MODIFICACAO[tipoAlteracao]}}</td>
                    <td>
                        <li ng-repeat='artefato in listaArtefatoAgrupado' class='list-unstyled'>
                            {{vm.obterNomeArtefato(artefato)}}
                        </li>
                    </td>

                    <td ng-if="$first" rowspan="{{saida.listaArtefatoSaida.length}}">
                        <a href ng-click='vm.copiarLinhaTabelaClipboardOfManager(saida)'>Copiar</a>
                    </td>

                </tr>

            </tbody>
        </table>

    </div>
</div>